<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <link rel="stylesheet" href="/css/switch.css">
    <link rel="stylesheet" href="/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/socket.io/socket.io.js"></script>
</head>
<body>
<div class="pure-g">
    <form class="pure-u pure-form pure-form-stacked l-box">
        <legend><h4>Game Control</h4></legend>
        <div class="switch">
            <input id="gamecontrol" type="checkbox">
            <label>
                <span class="fontawesome-ok"></span>
                <span class="fontawesome-remove"></span>

                <div></div>
            </label>
        </div>
    </form>
    <div class="pure-u l-box pure-form">
        <div class="flexHolder">
            <input type="text" placeholder="target" id="target"/>
        </div>
        <button class="pure-button pure-button-primary" type="button" id="register">REGISTER</button>
    </div>
    <div id="playerList" class="pure-u l-box">
    </div>
</div>
<script src="/js/dashboard.js"></script>
</body>
</html>